<?xml version="1.0" encoding="utf-8" ?>

<sqlMap namespace="AliasMap"
				xmlns="http://ibatis.apache.org/mapping"
				xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <alias>
    <typeAlias alias="Operation" type="ORMComparation.Entities.Operation, ORMComparation.Console" />
    <typeAlias alias="OperationStep" type="ORMComparation.Entities.OperationStep, ORMComparation.Console" />
  </alias>
</sqlMap>